<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <link rel="shortcut icon" type="image/png" href="http://abotars.hipch.at/bot/{{key}}.png">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
  </head>

  <body id="aui-flatpack" class="aui-page-fixed">
    <section id="content" role="main">
      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-main intro-header">
            <div class="aui-group">
              <div class="aui-item addon-logo">
                <img style="border-radius: inherit; border:none; width: 144px;" src="{{furl '/img/markdown_of_home.png'}}" alt="{{name}}">

                <div>
                  <a href="https://www.hipchat.com/addons/install?url={{links.self}}" class="aui-button aui-button-primary"
                     title="Install this add-on in HipChat"><span
                      class="aui-icon aui-icon-small aui-iconfont-hipchat"></span>
                    Add to HipChat</a>
                </div>
              </div>
              <div class="aui-item">
                <h1>
                  {{name}}
                  <small class="vendor">By <a href="{{vendor.url}}">{{vendor.name}}</a></small>
                </h1>
                <p class="subtitle">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="aui-page-panel addon-intro-page">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-item">
            <div class="aui-group">
              <div class="aui-item" >
                <h2> Use WYSYVIG editor to write your rich formatted messages</h2>
                <img src="{{furl '/img/editor.png'}}">
                <p>
                  <b>Note: no more tags supported!</b>
                  All supported markdown features are listed above. <br>
                  Any others will not render in chat due to Hipchat API limitations, but it will work in WYSYVIG editor.
                </p>
                <br/>
                <img src="{{furl '/img/posted.png'}}">
                <br/>

                <h2> View markdown source of any posted from editor message </h2>
                <img src="{{furl '/img/view.png'}}">

                <h2> Use command to get rendered copy of your message </h2>
                <p>
                  There are three ways to call a plugin:
                  <ul>
                    <li><pre>/md message</pre></li>
                    <li><pre>/markdown message</pre></li>
                    <li><pre>/code md message</li>
                  </ul>
                </p>
                <img src="{{furl '/img/chat.png'}}">
              </div>
            </div>
          </section>
        </div>
        <footer id="footer" role="contentinfo">
          <section class="footer-body">
            <ul id="aui-footer-list">
              <li><a href="https://hipchat.com">HipChat</a></li>
              <li><a href="https://developer.atlassian.com/hipchat">Developers</a></li>
              <li>Copyright © 2016 Atlassian</li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
          </section>
        </footer>
      </div>
    </section>
  </body>

</html>